@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: black;
}

[data-theme=dark] {
  --bg-color: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 4em;
  color: white;
  overflow-x: hidden;
}
body #myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out;
}
body #myBtn:hover {
  background-color: #ff9f55;
}
body .parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  background: var(--bg-color);
}
body .parallax_wrapper .navbar {
  font-size: 3vh;
  font-weight: bold;
}
body .parallax_wrapper .navbar .navbar-brand {
  font-size: 5vh;
  color: white;
  margin-left: 6vh;
  margin-right: 2vh;
}
body .parallax_wrapper .navbar #navbarSupportedContent {
  justify-content: end;
  margin-right: 8vh;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav {
  /*slider switch css */
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .nav-item {
  margin-right: 2vh;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: white;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .theme-switch-wrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .theme-switch input {
  display: none;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav input:checked + .slider {
  background-color: #66bb6a;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav input:checked + .slider:before {
  transform: translateX(26px);
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .slider.round {
  border-radius: 34px;
}
body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .slider.round:before {
  border-radius: 50%;
}
body .parallax_wrapper .welcome-page {
  height: 100vh;
  color: white;
  padding-top: 18vw;
  font-size: 18vw;
  display: block;
}
body .parallax_wrapper .welcome-page .typewriter {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
body .parallax_wrapper .welcome-page .indicator {
  position: relative;
  width: 3vw;
  height: 3vw;
  transform: rotate(45deg);
  margin-left: 48vw;
  margin-top: 6vw;
}
body .parallax_wrapper .welcome-page .indicator span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  animation: animate 1s linear infinite;
}
body .parallax_wrapper .welcome-page .indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}
body .parallax_wrapper .welcome-page .indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}
body .parallax_wrapper .welcome-page .indicator span:nth-child(3) {
  top: 0;
  left: 0;
  animation-delay: 0.4s;
}
body .parallax_wrapper .welcome-page .indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: 0.6s;
}
body .parallax_wrapper .welcome-page .indicator span:nth-child(5) {
  top: 30px;
  left: 30px;
  animation-delay: 0.8s;
}
@keyframes animate {
  0% {
    border-color: yellow;
    transform: translate(0, 0);
  }
  20% {
    border-color: yellow;
    transform: translate(15px, 15px);
  }
  20.1%, 100% {
    border-color: white;
  }
}
body .parallax_wrapper .parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
body .parallax_wrapper .parallax_group .parallax_layer {
  position: absolute;
  inset: 0;
}
body .parallax_wrapper .parallax_group .base_layer {
  transform: translateZ(-300px) scale(2.1);
}
body .parallax_wrapper .parallax_group .mid_layer {
  transform: translateZ(0);
}
body .parallax_wrapper .parallax_group .top_layer {
  transform: translateZ(210px) scale(0.3);
}
body .parallax_wrapper #welcome {
  z-index: 0;
}
body .parallax_wrapper #group-1 {
  z-index: -1;
  color: white;
}
body .parallax_wrapper #group-1 .mid_layer {
  display: block;
  width: 100vw;
}
body .parallax_wrapper #group-1 .mid_layer .about-title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
body .parallax_wrapper #group-1 .mid_layer .container {
  display: flex;
  margin-top: 10vh;
}
body .parallax_wrapper #group-1 .mid_layer .container .left-div {
  flex: 1;
  margin-right: 10px;
}
body .parallax_wrapper #group-1 .mid_layer .container .left-div .about-img {
  background-image: url("/images/profile-1.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0% 10%;
  background-repeat: no-repeat;
}
body .parallax_wrapper #group-1 .mid_layer .container .right-div {
  flex: 1;
  margin-left: 10px;
}
body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description {
  text-align: justify;
}
body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description a {
  text-decoration: none;
  color: black;
}
body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description a .button {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px;
}
body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description a {
  text-decoration: none;
  color: white;
}
body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description a .button:hover {
  background-color: #ff9f55;
  color: white;
}
body .parallax_wrapper .skills-section {
  color: white;
  margin-top: 10vh;
  height: 100vh;
}
body .parallax_wrapper .skills-section .skills-title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
body .parallax_wrapper .skills-section .container {
  display: flex;
  margin-top: 10vh;
  text-align: center;
}
body .parallax_wrapper .skills-section .container ul {
  list-style-type: circle;
  text-align: left;
}
body .parallax_wrapper .skills-section .container ul h6 {
  font-size: larger;
  font-weight: bold;
}
body .parallax_wrapper .skills-section .container ul li img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
body .parallax_wrapper .skills-section .container .first-col {
  flex: 1;
  height: 25vh;
}
body .parallax_wrapper .skills-section .container .second-col {
  flex: 1;
  height: 25vh;
}
body .parallax_wrapper .skills-section .container .third-col {
  flex: 1;
  height: 20vh;
}
body .parallax_wrapper .skills-section .container .fourth-col {
  flex: 1;
  height: 35vh;
}
body .parallax_wrapper .experience-section {
  color: white;
  height: 100vh;
  display: block;
}
body .parallax_wrapper .experience-section .experience-title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
body .parallax_wrapper .experience-section .timeline {
  position: relative;
  max-width: 1200px;
  margin: 5vh auto;
}
body .parallax_wrapper .experience-section .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
body .parallax_wrapper .experience-section .timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
body .parallax_wrapper .experience-section .timeline .container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 18.75vw;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
body .parallax_wrapper .experience-section .timeline .container .content {
  text-align: center;
  padding: 20px 30px;
  background-color: white;
  color: black;
  position: relative;
  border-radius: 6px;
}
body .parallax_wrapper .experience-section .timeline .container .content img {
  margin-right: 5px;
}
body .parallax_wrapper .experience-section .timeline .container .content .exp-img1 {
  height: 68px;
  width: 108px;
}
body .parallax_wrapper .experience-section .timeline .container .content .exp-img2 {
  height: 68px;
  width: 118px;
  padding-bottom: 10px;
}
body .parallax_wrapper .experience-section .timeline .container .content .exp-img3 {
  height: 68px;
  width: 108px;
}
body .parallax_wrapper .experience-section .timeline .left {
  left: -20vw;
}
body .parallax_wrapper .experience-section .timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
body .parallax_wrapper .experience-section .timeline .left::after {
  left: 38.75vw;
}
body .parallax_wrapper .experience-section .timeline .right {
  left: 19.75vw;
}
body .parallax_wrapper .experience-section .timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
body .parallax_wrapper .experience-section .timeline .right::after {
  left: -1vw;
}
body .parallax_wrapper .projects-section {
  color: white;
  height: 100vh;
  margin-top: 80vh;
}
body .parallax_wrapper .projects-section .projects-title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
body .parallax_wrapper .projects-section .projects-container {
  padding-left: 8vw;
  padding-top: 3vw;
}
body .parallax_wrapper .projects-section .projects-container .flip {
  margin: 2vh;
  position: relative;
}
body .parallax_wrapper .projects-section .projects-container .flip > .front,
body .parallax_wrapper .projects-section .projects-container .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
body .parallax_wrapper .projects-section .projects-container .flip > .front {
  transform: rotateY(0deg);
}
body .parallax_wrapper .projects-section .projects-container .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
body .parallax_wrapper .projects-section .projects-container .flip:hover > .front {
  transform: rotateY(180deg);
}
body .parallax_wrapper .projects-section .projects-container .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
body .parallax_wrapper .projects-section .projects-container .flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
body .parallax_wrapper .projects-section .projects-container .flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
body .parallax_wrapper .projects-section .projects-container .flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}
body .parallax_wrapper .projects-section .flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
body .parallax_wrapper .projects-section .flip > .front,
body .parallax_wrapper .projects-section .flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: white;
  border-radius: 10px;
}
body .parallax_wrapper .projects-section .flip > .front p,
body .parallax_wrapper .projects-section .flip > .back p {
  font-size: 2vh;
  line-height: 160%;
  color: black;
}
body .parallax_wrapper .projects-section .flip > .front a,
body .parallax_wrapper .projects-section .flip > .back a {
  text-decoration: none;
  color: black;
}
body .parallax_wrapper .projects-section .flip > .front a .button,
body .parallax_wrapper .projects-section .flip > .back a .button {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px;
}
body .parallax_wrapper .projects-section .flip > .front a,
body .parallax_wrapper .projects-section .flip > .back a {
  text-decoration: none;
  color: white;
}
body .parallax_wrapper .projects-section .flip > .front a .button:hover,
body .parallax_wrapper .projects-section .flip > .back a .button:hover {
  background-color: #ff9f55;
  color: white;
}
body .parallax_wrapper .projects-section .flip .project-1 {
  background: linear-gradient(55deg, #8c884d, #ccc670, #403e23);
}
body .parallax_wrapper .projects-section .flip .project-2 {
  background: linear-gradient(55deg, #bf9278, #cc9c81, #a67f68);
}
body .parallax_wrapper .projects-section .flip .project-3 {
  background: linear-gradient(55deg, #789bcc, #536b8c, #263140);
}
body .parallax_wrapper .projects-section .flip .project-4 {
  background: linear-gradient(55deg, #b3b3b3, #737373, #f2f2f2);
}
body .parallax_wrapper .projects-section .flip .project-5 {
  background: linear-gradient(55deg, #d99036, #e69839, #593b16);
}
body .parallax_wrapper .contact-section {
  color: white;
  height: 100vh;
  margin-top: 30vh;
}
body .parallax_wrapper .contact-section .contact-title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
body .parallax_wrapper .contact-section .contact-container {
  display: block;
}
body .parallax_wrapper .contact-section .contact-container .left-div {
  flex: 1;
  padding: 20px;
}
body .parallax_wrapper .contact-section .contact-container .right-div {
  flex: 1;
  padding: 20px;
}
body .parallax_wrapper .contact-section .contact-container .right-div h2 {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}
body .parallax_wrapper .contact-section .contact-container form div {
  text-align: center;
  margin-bottom: 4vh;
}
body .parallax_wrapper .contact-section .contact-container form label {
  display: block;
  font-size: large;
}
body .parallax_wrapper .contact-section .contact-container form input,
body .parallax_wrapper .contact-section .contact-container form textarea {
  width: 50vw;
  padding: 5px;
}
body .parallax_wrapper .contact-section .contact-container form textarea {
  height: 20vh;
}
body .parallax_wrapper .contact-section .contact-container form .button {
  width: 50vw;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px;
}
body .parallax_wrapper .contact-section .contact-container form .button:hover {
  background-color: #ff9f55;
  color: white;
}
body .parallax_wrapper .contact-section .contact-container .social-media {
  display: flex;
  justify-content: center;
}
body .parallax_wrapper .contact-section .contact-container .social-media a {
  text-align: center;
  width: 4%;
}
body .parallax_wrapper .contact-section .contact-container .address {
  text-align: center;
}
body .parallax_wrapper .contact-section .contact-container .address p {
  margin-bottom: 5px;
}
body .parallax_wrapper .contact-section .contact-container .address p a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
body .parallax_wrapper .contact-section .contact-container .address p a:hover {
  color: #ff9f55;
}
body .parallax_wrapper .footer {
  text-align: center;
  color: white;
}
body .parallax_wrapper .footer .footer-container h5 {
  font-size: 2vh;
}
body .parallax_wrapper .footer .footer-container h6 {
  font-size: 2vh;
}
body .parallax_wrapper #group-2 {
  color: white;
}
@media (max-width: 1180px) {
  body .parallax_wrapper .experience-section .timeline .container .content h2 {
    font-size: 3vw;
  }
  body .parallax_wrapper .experience-section .timeline .left {
    left: -24.5vw;
  }
  body .parallax_wrapper .experience-section .timeline .left::after {
    left: 48.4vw;
  }
  body .parallax_wrapper .experience-section .timeline .right {
    left: 25vw;
  }
  body .parallax_wrapper .experience-section .timeline .right::after {
    left: -1vw;
  }
  body .parallax_wrapper .projects-section {
    margin-top: 60vh;
  }
  body .parallax_wrapper .projects-section .projects-title {
    font-size: 4vh;
  }
  body .parallax_wrapper .projects-section .projects-container {
    padding-left: 12.5vw;
    padding-top: 3vw;
  }
  body .parallax_wrapper .contact-section .right-div .social-media a {
    width: 5%;
  }
}
@media (max-width: 991px) {
  body .parallax_wrapper .navbar .navbar-brand {
    margin-left: 2vh;
  }
  body .parallax_wrapper .navbar .navbar-toggler {
    margin-right: 2vh;
    background-color: white;
  }
  body .parallax_wrapper .navbar #navbarSupportedContent .navbar-nav .nav-item {
    margin-left: 2vh;
  }
  body .parallax_wrapper .welcome-page {
    padding-top: 30vh;
  }
  body .parallax_wrapper .welcome-page .typewriter {
    font-size: 4vh;
  }
  body .parallax_wrapper .welcome-page .indicator {
    margin-top: 15vw;
  }
  body .parallax_wrapper #group-1 .mid_layer .container {
    margin-top: 4vh;
    flex-direction: column;
  }
  body .parallax_wrapper #group-1 .mid_layer .container .left-div,
  body .parallax_wrapper #group-1 .mid_layer .container .right-div {
    flex: auto;
  }
  body .parallax_wrapper #group-1 .mid_layer .container .left-div {
    height: 60vh;
    width: 100%;
  }
  body .parallax_wrapper #group-1 .mid_layer .container .right-div {
    padding-top: 2vh;
    margin-left: 0px;
  }
  body .parallax_wrapper .skills-section {
    margin-top: 45vh;
  }
  body .parallax_wrapper .skills-section .container {
    margin-top: 5vh;
  }
  body .parallax_wrapper .experience-section {
    margin-top: 45vh;
  }
  body .parallax_wrapper .projects-section {
    margin-top: 80vh;
  }
}
@media (max-width: 821px) {
  body .parallax_wrapper .welcome-page {
    padding-top: 25vh;
  }
  body .parallax_wrapper .welcome-page .typewriter {
    font-size: 3.2vh;
  }
  body .parallax_wrapper .welcome-page .arrow {
    margin-top: 30vh;
  }
  body .parallax_wrapper .welcome-page .indicator {
    margin-top: 28vh;
  }
  body .parallax_wrapper #group-1 .mid_layer .about-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .skills-section {
    margin-top: 25vh;
  }
  body .parallax_wrapper .skills-section .skills-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .skills-section .container {
    flex-direction: column;
  }
  body .parallax_wrapper .skills-section .container ul {
    padding-left: 35%;
  }
  body .parallax_wrapper .skills-section .container .first-col,
  body .parallax_wrapper .skills-section .container .second-col,
  body .parallax_wrapper .skills-section .container .third-col,
  body .parallax_wrapper .skills-section .container .fourth-col {
    flex: auto;
  }
  body .parallax_wrapper .experience-section {
    margin-top: 40vh;
  }
  body .parallax_wrapper .experience-section .experience-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .experience-section .timeline .container .content h2 {
    font-size: 3vw;
  }
  body .parallax_wrapper .experience-section .timeline .left {
    left: -24.5vw;
  }
  body .parallax_wrapper .experience-section .timeline .left::after {
    left: 48vw;
  }
  body .parallax_wrapper .experience-section .timeline .right {
    left: 24.5vw;
  }
  body .parallax_wrapper .experience-section .timeline .right::after {
    left: -1vw;
  }
  body .parallax_wrapper .projects-section {
    margin-top: 20vh;
  }
  body .parallax_wrapper .projects-section .projects-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .projects-section .projects-container {
    padding-left: 0.5vh;
    padding-top: 3vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip {
    margin: 1vw 0.1vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip .back p {
    font-size: 1.2vh;
  }
  body .parallax_wrapper .contact-section {
    margin-top: 0vh;
  }
  body .parallax_wrapper .contact-section .contact-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div input,
  body .parallax_wrapper .contact-section .contact-container .left-div textarea {
    width: 500px;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div button {
    width: 500px;
  }
  body .parallax_wrapper .contact-section .contact-container .right-div h2 {
    font-size: 2vh;
  }
  body .parallax_wrapper .contact-section .contact-container .right-div .social-media a {
    width: 8%;
  }
}
@media (max-width: 769px) {
  body .parallax_wrapper .projects-section .projects-container {
    padding: 15vh;
    padding-top: 3vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip {
    margin: 2vh;
  }
  body .parallax_wrapper .experience-section {
    margin-top: 50vh;
  }
  body .parallax_wrapper .projects-section {
    margin-top: 40vh;
  }
  body .parallax_wrapper .contact-section {
    margin-top: 70vh;
  }
}
@media (max-width: 550px) {
  body .parallax_wrapper .welcome-page {
    padding-top: 30vh;
  }
  body .parallax_wrapper .welcome-page .typewriter {
    font-size: 3.2vh;
  }
  body .parallax_wrapper .welcome-page .arrow {
    margin-top: 30vh;
  }
  body .parallax_wrapper .welcome-page .indicator {
    margin-top: 25vh;
  }
  body .parallax_wrapper #group-1 .mid_layer .about-title {
    font-size: 3vh;
  }
  body .parallax_wrapper #group-1 .mid_layer .container .left-div {
    height: 45vh;
    width: 100%;
  }
  body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description {
    font-size: 1.8vh;
  }
  body .parallax_wrapper .skills-section {
    margin-top: 35vh;
  }
  body .parallax_wrapper .skills-section .container ul {
    padding-left: 20%;
  }
  body .parallax_wrapper .skills-section .container .first-col,
  body .parallax_wrapper .skills-section .container .second-col,
  body .parallax_wrapper .skills-section .container .third-col,
  body .parallax_wrapper .skills-section .container .fourth-col {
    margin-bottom: 8vh;
  }
  body .parallax_wrapper .experience-section {
    margin-top: 75vh;
  }
  body .parallax_wrapper .experience-section .timeline::after {
    left: 31px;
  }
  body .parallax_wrapper .experience-section .timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  body .parallax_wrapper .experience-section .timeline .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  body .parallax_wrapper .experience-section .timeline .container .content h5 {
    font-size: 2vh;
  }
  body .parallax_wrapper .experience-section .timeline .container .content h6 {
    font-size: 1.7vh;
  }
  body .parallax_wrapper .experience-section .timeline .left {
    left: 0%;
  }
  body .parallax_wrapper .experience-section .timeline .left::after {
    left: 18px;
  }
  body .parallax_wrapper .experience-section .timeline .right {
    left: 0%;
  }
  body .parallax_wrapper .experience-section .timeline .right::after {
    left: 18px;
  }
  body .parallax_wrapper .projects-section {
    margin-top: 60vh;
  }
  body .parallax_wrapper .projects-section .projects-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .projects-section .projects-container {
    padding: 0vh;
    padding-top: 3vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip {
    margin-left: 2.5vh;
    margin-top: 2vw;
    width: 90vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip .back p {
    font-size: 1.5vh;
  }
  body .parallax_wrapper .contact-section {
    margin-top: 80vh;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div input,
  body .parallax_wrapper .contact-section .contact-container .left-div textarea {
    width: 90vw;
    padding: 5px;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div textarea {
    height: 20vh;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div .button {
    width: 90vw;
  }
  body .parallax_wrapper .contact-section .contact-container .right-div h2 {
    font-size: 2vh;
  }
  body .parallax_wrapper .contact-section .contact-container .right-div .social-media a {
    width: 15%;
  }
}
@media (max-width: 376px) {
  body .parallax_wrapper #group-1 .mid_layer .container .right-div .about-description {
    font-size: 1.8vh;
  }
  body .parallax_wrapper .skills-section .container ul {
    padding-left: 20%;
  }
  body .parallax_wrapper .skills-section .container .first-col,
  body .parallax_wrapper .skills-section .container .second-col,
  body .parallax_wrapper .skills-section .container .third-col,
  body .parallax_wrapper .skills-section .container .fourth-col {
    margin-bottom: 15vh;
  }
  body .parallax_wrapper .experience-section {
    margin-top: 110vh;
  }
  body .parallax_wrapper .experience-section .timeline .container .content h5 {
    font-size: 2vh;
  }
  body .parallax_wrapper .experience-section .timeline .container .content h6 {
    font-size: 1.7vh;
  }
  body .parallax_wrapper .projects-section {
    margin-top: 100vh;
  }
  body .parallax_wrapper .projects-section .projects-title {
    font-size: 3vh;
  }
  body .parallax_wrapper .projects-section .projects-container {
    padding: 0vh;
    padding-top: 3vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip {
    margin-left: 2.5vh;
    margin-top: 2vw;
    width: 90vw;
  }
  body .parallax_wrapper .projects-section .projects-container .flip .back p {
    font-size: 1.9vh;
  }
  body .parallax_wrapper .contact-section {
    margin-top: 120vh;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div input,
  body .parallax_wrapper .contact-section .contact-container .left-div textarea {
    width: 90vw;
    padding: 5px;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div textarea {
    height: 20vh;
  }
  body .parallax_wrapper .contact-section .contact-container .left-div .button {
    width: 90vw;
  }
  body .parallax_wrapper .contact-section .contact-container .right-div h2 {
    font-size: 2vh;
  }
  body .parallax_wrapper .contact-section .contact-container .right-div .social-media a {
    width: 15%;
  }
}/*# sourceMappingURL=test.css.map */